name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      [cite_start]uses: actions/checkout@v3 [cite: 81]

    - name: Set up Python
      [cite_start]uses: actions/setup-python@v4 [cite: 83]
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt [cite: 89]

    - name: Run tests
      run: |
        pytest [cite: 92]